html,
body {
  margin: 0;
  padding: 0;
  overflow-x: 0;
  font-family: "Open Sans";
}

h1,
h2 {
  font-size: 60px;
  font-weight: 300;
  line-height: 0;
}

p {
  font-size: 18px;
  font-weight: 400;
}

.btn {
  border-style: none;
  width: 180px;
  background-color: #5BACC3;
  color: White;
  padding: 20px;
  text-decoration: none;
  font-size: 21px;
  box-sizing: border-box;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  position: relative;
  cursor: pointer;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:focus {
  outline: 0;
}

.btn:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  border-width: 2px;
  text-decoration: none;
  bottom: 4px;
  right: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.btn:hover:after {
  bottom: 2px;
  left: 2px;
}

.nav-bar {
  background-color: #FFF0ED;
}
.nav-bar__link {
  text-decoration: none;
}
.nav-bar__link--about, .nav-bar__link--menu {
  padding: 10px;
  color: #393939;
  font-size: 20px;
  font-weight: 400;
}
.nav-bar__link--shopnow {
  padding: 10px;
  color: #5BACC3;
  font-size: 20px;
  font-weight: 400;
}

.header__nav {
  text-decoration: none;
  color: #393939;
  display: inline-flex;
}

.shopnow {
  height: 75vh;
  width: 100vw;
  background-color: #FFF0ED;
  display: inline-flex;
  justify-content: space-between;
}
.shopnow__section--left {
  padding-left: 7%;
  padding-top: 10%;
  margin-right: 25%;
  width: 50vw;
}
.shopnow__section--right {
  margin-right: 2%;
  width: 50vw;
}

.products__section {
  height: 100vh;
  width: 100vw;
  background-color: #F7F7F7;
  text-align: center;
  padding-top: 65px;
  font-size: 35px;
  font-weight: 400;
  color: #393939;
}
.products__section--div {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #F7F7F7;
  padding: 10px 0px 20px 0px;
}
.products__section--card img {
  height: 280px;
  padding: 20px;
}
.products__section--card {
  display: inline-block;
  width: 330px;
  height: 440px;
  padding: 20px;
  margin: 20px;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
}
.products__section--btn {
  display: inline-flex;
}

.shopnow-description {
  width: 30vw;
  font-size: 18px;
  padding-bottom: 20px;
  color: #393939;
}

.full-screen-width {
  width: 100vw;
}

.screen-height {
  height: 100vh;
}

.ordercode {
  height: 40vh;
  background-color: #FFF;
  text-align: center;
  padding: 40px 20px 0px 20px;
  margin: 100px 7px 0px 7px;
  width: 100vw;
}
.ordercode__section {
  display: inline-flex;
}
.ordercode__section--left {
  text-align: left;
  width: 50vw;
}
.ordercode__section--right {
  width: 400px;
  padding: 20px;
  border-width: 5px;
  border-color: #5BACC3;
  offset-position: 20px;
}
.ordercode__section--img {
  width: 50px;
}
.ordercode__divider {
  width: 90%;
  background-color: #393939;
  color: #FFF;
  padding: 20px;
  margin: 20px 20px;
  font-size: 45px;
  font-weight: 400;
}
.ordercode__divider--code {
  color: #FFF;
  font-size: 45px;
  font-weight: 700;
}/*# sourceMappingURL=landing.css.map */